/Chroropleth[[:space:]]Shape[[:space:]]Files/Raw/Geofabrik[[:space:]]OSM/roads/gis_osm_roads_free_1.dbf filter=lfs diff=lfs merge=lfs -text
/Chroropleth[[:space:]]Shape[[:space:]]Files/Raw/Geofabrik[[:space:]]OSM/roads/gis_osm_roads_free_1.shp filter=lfs diff=lfs merge=lfs -text
/Chroropleth[[:space:]]Shape[[:space:]]Files/Raw/Geofabrik[[:space:]]OSM/roads/gis_osm_roads_free_1.shx filter=lfs diff=lfs merge=lfs -text
/Chroropleth[[:space:]]Shape[[:space:]]Files/Raw/Geofabrik[[:space:]]OSM/water/gis_osm_water_a_free_1.shp filter=lfs diff=lfs merge=lfs -text
/Resulting[[:space:]]Plots/Choropleth_Proj.svg filter=lfs diff=lfs merge=lfs -text
